@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.App {
  justify-content: center;
  align-items: center;
}
nav {
	display: flexbox;
	justify-content: space-between;
	align-items: stretch;
	align-content: space-between;
}
